{
    "port": 3000,
    "apiKey": "45324632", // Get this and your secret by registering for tokbox.com
    "apiSecret": "df4e0fe16a5b7fb38c0b541a00e85d7adbb1d5b0",
    "chromeExtensionId": "ghiiijjgpkpcgmbejohlocbpjafjjkmc"  // Get this from https://github.com/opentok/screensharing-extensions
}